<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Taskly Home</title>
</head>
<body>
<div class="h">Taskly</div>

    <section class="container">
    <h1 class="head">Taskly</h1>
    <ul class="card-display">
        <div class="card">
            <a class="" href="/tasks">All tasks</a>
        </div>
        <div class="card">
            <a class="" href="/tasks/new">Create a new task</a>
        </div>
        <div class="card">
            <a class="" href="/tasks/new">Create a new task</a>
        </div>
    </ul>
</section>
</body>
</html>